<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Budgtr</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= activity.name %></h1>
      <a href="/budgets/"><button>Back</button></a><br>
      <strong>date</strong> <br>
      &nbsp <%= activity.date %> <br>
      <br>
      <strong>name</strong> <br>
      &nbsp <%= activity.name %> <br>
      <br>
      <strong>from</strong> <br>
      &nbsp <%= activity.from %> <br>
      <br>
      <strong>amount</strong> <br>
      &nbsp <%= activity.amount %> <br>
      <br>
      <strong>tags</strong> <br>
      &nbsp <%= activity.tags %> 

    
    </div>
  </body>
</html>